div#filter {
    width: 100%;
    height: 300vh;
    background: rgba(12, 11, 11, 0.842);
    /* background: rgba(74, 67, 67, 0.884); */
    position: absolute;
    top: 300vh;
    left: 0;
    z-index: 1;
}