@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:100&display=swap');

div#espaco {
    width: 100%;
    height: 200vh;
    position: relative;
    /* top: 100vh; */
    background: rgb(39, 36, 36);
    /* background: #4A4343; */
    color: #FFF;
    padding: 0;
    margin: 0;
    padding-left: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#espaco h1 {
    /* padding-top: 30px; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}
div#espaco #titlee {
    /* height: 200px;
    width: 200px; */
    /* background: red; */
    /* background: url(img/title.png);
    background-size: cover; */
}
div#espaco #cell-container #part1,#part2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#part2 {
    margin-top: 7vh;
}
div.cell {
    width: 100%;
    /* background: #000; */
    height: 40vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: chocolate; */
    /* align-self: center; */
    /* flex-direction: row; */
}
div#cell-container .cell .img-spc{
    background-size: cover;
    /* max-width: 500px;
    max-height: 100%; */
    width: 45%;
    height: 300px;
    /* margin: 10px */
    -webkit-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.64);
    box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.64);
}
div#cell-container .cell .info-spc{
    width: 50%;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    /* background: blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

div.cell1 .info-spc{
    border-bottom: 5px rgb(102, 18, 18) solid;
    border-right: 5px rgb(102, 18, 18) solid;
    /* border-radius: 5px; */
}

div.cell2 .info-spc{
    border-bottom: 5px rgb(102, 18, 18) solid;
    border-left: 5px rgb(102, 18, 18) solid;
    /* border-radius: 5px; */
}

#img-1 {
    background: url('./img/espaco1.jpg');
}

#img-2 {
    background: url('./img/espaco2.jpg');
}
#img-3 {
    background: url('./img/espaco3.jpg');
}

#img-4 {
    background: url('./img/espaco4.jpg');
}