@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

div#confirm-icon {
    background: url(./img/confirmicon.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 10px 0;
}
div.agnd4 p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin: 20px;

}