@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

* {
    padding: 0;
    margin: 0;
}
div#clients {
    width: 20%;
    height: 100vh;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%
    /* z-index: 1 !important; */
    
}

div#client-container {
    width: 100%;
    height: 100vh;
    background: rgb(38, 38, 39);
    display: flex;
    flex-direction: column;
}

div#personal-data {
    display: flex;
    flex-direction: column;
    height: 67%;
    background: rgb(219, 219, 219);
    /* margin: 10px; */
    /* border-radius: 7px; */
    color: #000;
    /* padding-left: 20px; */
    font-family: 'Roboto', sans-serif;   
    font-size: 20px;
    /* justify-content: center; */
}

div#personal-data input[type="text"] {
    font-family: 'Roboto', sans-serif;   
    font-size: 20px;
    width: 90%;
    height: 35px;
    border: none;
    background: transparent;
    border-radius: 4px;
    padding-left: 7px;
    color: rgb(155, 155, 155);
    font-size: 18px;
}
div#personal-data label {
    font-weight: bold;
    font-size: 20px;
    color: #444;
}

div#personal-data input[type="text"]:focus {
    background: #FFF;
    color: #000;
}
.field {
    /* margin-left: 20px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: chocolate; */
}

div#personal-data .btn-center {
    margin-top: 30px
}

#title {
    display: flex;
    height: 50px;
    background: rgb(19, 7, 7);
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 20px;
}

#schedules-data {
    width: 50%;
}

div#container-personal {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}
/* label {
    margin-bottom: 20px
} */